<!doctype html>
<html lang='en'>

<head>
    <title>Word Scramble</title>
    <meta charset='utf-8'>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="http://unpkg.com/portal-vue" defer></script>
    <script src="word_scramble.js" defer></script>

    <style>
        [v-cloak] {
            display: none
        }

        .green {
            background-color: green;
        }

        .red {
            background-color: red;
        }

        .banner {
            color: white;
            font-weight: bold;
            width: fit-content;
            padding: 5px;
        }
    </style>

</head>

<body>

    <h1>Word Scramble</h1>

    <div id='app' v-cloak>

        <label><b>Enter Your Player Name:</b>
            <input type="text" id="name" v-model='playerName' @keyup.enter='resetGame'>
            <button @click='resetGame'>Let's Play!</button>
        </label>

        <div v-if="scrambledWord">
            <br>
            Game on, <b>{{ playerName }}!</b>
            <br><br>
            Your mystery word is: <h2>{{ scrambledWord }}</h2>
            <br>
            Hint: <i>{{ word[1] }}</i>
            <br><br>
            <label>Your guess:
                <input type="text" id="guess" v-model.trim='guess' @keyup.enter='checkGuess'>
                <button @click='checkGuess'>Guess!</button>
            </label>
        </div>
        <br>
        <div v-if="guessed" v-bind:class="{ green: victory, red: !victory}" class="banner">
            <div v-if="victory">
                <label>You got it, nice work!
                    <button @click='resetGame'>Play again?</button>
                </label>
            </div>
            <div v-else>
                Sorry that is not correct, please try again.
            </div>


        </div>

        <!-- <label for="qty">Qty:</label>
        <input type="text" id="qty" v-model.number='items.qty' size="1">
        <label for="item">Item: </label>
        <input type="text" id="item" v-model='items.item' v-on:keyup.enter='addList'>
        <button v-on:click='addList'>Add</button>
        <br>

        <div v-if='list.length === 0'>
            <i>You have no items on your list.</i>
        </div>
        <div v-else>
            <br>
            Item Count: {{ count }}
            <ul>
                <li v-for='ii in list'>{{ ii.qty }} x {{ ii.item }} </li>
            </ul>
        </div> -->


    </div>

</body>

</html>