<!doctype html>
<html lang='en'>

<head>
    <title>Word Scramble</title>
    <meta charset='utf-8'>

    <!-- <script src="http://unpkg.com/portal-vue" defer></script> -->
    <script src='./js/master.js' defer></script>

    <style>
        [v-cloak] {
            display: none
        }
    </style>

</head>

<body>

    <h1>Word Scramble</h1>

    <div id='app' v-cloak>

        <label><b>Enter Your Player Name:</b>
            <input type="text" id="name" v-model='playerName' @keyup.enter='resetGame'>
            <button @click='resetGame'>Let's Play!</button>
        </label>

        <div v-if="scrambledWord">
            <br>
            Game on, <b>{{ playerName }}!</b>
            <br><br>
            Your mystery word is: <h2>{{ scrambledWord }}</h2>
            <br>
            Hint: <i>{{ word[1] }}</i>
            <br><br>
            <label>Your guess:
                <input type="text" id="guess" v-model.trim='guess' @keyup.enter='checkGuess'>
                <button @click='checkGuess'>Guess!</button>
            </label>
        </div>
        <br>

        <!-- <round-detail></round-detail> -->

        <user-feedback @reset-game='resetGame($event)' :guessed=guessed :victory=victory>
        </user-feedback>


        <!-- <div v-if="guessed" v-bind:class="{ green: victory, red: !victory}" class="banner">
            <div v-if="victory">
                <label>You got it, nice work!
                    <button @click='resetGame'>Play again?</button>
                </label>
            </div>
            <div v-else>
                Sorry that is not correct, please try again.
            </div>
        </div> -->


    </div>

</body>

</html>