/*----------------------------------------------------
VARIABLES
-----------------------------------------------------*/
$radius:5px;
$fontsize: 1.6rem;

/* https: //clrs.cc/ */
$aqua: #7FDBFF;
$blue: #0074D9;
$navy: #001F3F;
$teal: #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime: #01FF70;

$yellow: #FFDC00;
$orange: #FF851B;
$red: #FF4136;
$fuchsia: #F012BE;
$purple: #B10DC9;
$maroon: #85144B;

$white: #FFFFFF;
$silver: #DDDDDD;
$gray: #AAAAAA;
$black: #111111;

// $border-color: $red;
// $input-focus-box-shadow: 0 .5rem 1rem rgba($green, .15) !default;
// $component-active-bg: $green;
// $input-focus-border-color: $green;


/*----------------------------------------------------
IMPORT BOOTSTRAP & BOOTSTRAP-VUE
-----------------------------------------------------*/

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

$border-color: $red;

/* box sizing: http://www.paulirish.com/2012/box-sizing-border-box-ftw */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* http://snook.ca/archives/html_and_css/font-size-with-rem */
    color: #111;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    /* Have the scroll bars always on so there's not a shift in the layout
    when going from a non-scrolling page to a scrolling-page */
    overflow-y: scroll;
}

body {
    /* Default font-size */
    font-size: $fontsize;

    /* sticky footer - match footer height */
    margin-bottom: 60px;

    max-width: 800px;
    width: 100%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

/*----------------------------------------------------
form page
-----------------------------------------------------*/
.form-input-error {
    border: 1px solid $danger;
    &:focus {
        border-color: $danger;
        // Avoid using mixin so we can pass custom focus shadow properly
        @if $enable-shadows {
            box-shadow: $input-box-shadow, 0 .5rem 1rem rgba($danger, .15);
        } @else {
            box-shadow: 0 .5rem 1rem rgba($danger, .15);
        }
    }
}

.form-input-valid {
    border: 1px solid $success;
    &:focus {
        border-color: $success;
        // Avoid using mixin so we can pass custom focus shadow properly
        @if $enable-shadows {
            box-shadow: $input-box-shadow, 0 .5rem 1rem rgba($success, .15);
        } @else {
            box-shadow: 0 .5rem 1rem rgba($success, .15);
        }
    }
}

.form-feedback-error {
    font-size: 1rem;
    padding: 0;
    color: $red;
}

.alert-message {
    color: $success;
    font-style: italic;
}


/*----------------------------------------------------
GENERAL PAGE LAYOUT/DESIGN
-----------------------------------------------------*/
header {
    text-align: center;
    margin-top: 20px;
}

#logo {
    margin-top: 20px;
    margin-bottom: 20px;
}

#lightning-bolt {
    color: $yellow;
}

nav ul {
    list-style-type: none;
    padding: 0px;

    li {
        display: inline-block;

        a:link,
        a:visited,
        a:active,
        a:hover {
            text-transform: capitalize;
            padding: 5px;
            margin: 5px;
            cursor: pointer;
            color: $blue;
        }

        a:hover {
            background-color: $blue;
            color: white;
            text-decoration: none;
        }

        a.router-link-active:link,
        a.router-link-active:visited,
        a.router-link-active:active,
        a.router-link-active:hover {
            text-decoration: none;
            color: $black;
            background-color: white;
            cursor: inherit;
        }
    }
}


/*----------------------------------------------------
PAGE SPECIFIC
-----------------------------------------------------*/
#categories {

    a.category:link,
    a.category:visited,
    a.category:active,
    a.category:hover {
        text-decoration: none;
        color: black;
        display: block;
        width: 75%;
        margin: auto;
        margin-bottom: 20px;
        // border: 1px solid $silver;
        padding: 20px;

        .category-name {
            font-weight: bold;
            font-size: 2.0rem;
            margin: 5px 0 10px 0;
        }

        .category-thumb {
            width: 200px;
            // border: 1px solid $black;
        }

        .category-description {
            width: 75%;
            margin: auto;
            text-align: left;
            font-style: italic;
        }

        .category-difficulty {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: bold;
            font-size: 2.0rem;
        }
    }
}

#featured {
    // background-color: lighten($aqua, 10%);
    border-radius: $radius;
    padding: 10px;
}

#category-page {
    img {
        width: 200px;
        // border: 1px solid $black;
        margin-bottom: 10px;
    }

    .description {
        font-size: 1.5rem;
        width: 75%;
        margin: 10px auto;
        font-style: italic;
    }

    .price {
        font-size: 3rem;
        margin: 10px auto;
    }

    .button {
        display: inline;
        margin: auto 10px;
        font-size: $fontsize;
    }

    .currentCard {
        margin: 25px;
        box-shadow: 1.5px 1.5px;
    }
    .currentCardText {
        text-align: left;
    }
}






/*----------------------------------------------------
MISC
-----------------------------------------------------*/
.cleanList {
    list-style-type: none;
    padding: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 1s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}